<div class="flex flex-col items-center justify-center h-screen bg-gray-100">
<h1 class = "text-lg ; text-red-800 ">Welcome to My Todo App</h1>
<br>
<p>This is a simple application to manage your todos.</p>
<br>
<div class=" d-flex flex flex-row gap-3 flex ">
<.link href={~p"/todos"}>
  <.button>View Todos</.button>
</.link>
<.link href={~p"/todos/new"}>
    <.button>New Todo</.button>
</.link>
</div>
</div>